# Terraform files
*.tfstate
*.tfstate.*
crash.log
#*.tfvars
*.tfvars.json
override.tf
override.tf.json
terraform.rc
.terraformrc

# Local .terraform directories
**/.terraform/*
avm-tf-starter/.terraform/*
azurerm-tf-starter/.terraform/*
aks-project/.terraform/*